.main-layout {
    padding: 0;
}

.header {
    .brand {
        margin-top: 10px;
    }

    .nav {
        color: #fff;
        margin-top: 22px;
        font: 1.2em 'Oswald';

        li img {
            outline: 1px solid #fff;
            border-right: 1px solid #000;
            border-top: 1px solid #000;
            width: 33px;
            height: 33px;
            margin-right: 16px;
        }
    }
}

.navbar-static-top {
    background: none;
    height: 78px;
}

.navbar-inner {
    background: none;
    border: none;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, .7)), color-stop(10%, rgba(0, 0, 0, .4)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, .4)), color-stop(100%, rgba(0, 0, 0, .7)));
    height: 78px;
}

.navbar .brand {
    padding: 0;
    margin: 0;
}

.row-fluid.main {
    margin: 20px 0 0 0;
    padding: 0;
    height: 100%;

    .sidebar {
        padding: 0;
        text-align: center;
        margin: 0;
        float: left;

        li {
            width: 40px;
            height: 40px;
            background-color: #fff;
            margin: 0;
            margin-bottom: 1px;
            padding: 8px;

            img {
                border: none;
            }
        }

        .active
        {
            background-color: #5b5655;
        }
    }

    .content {
        height: 100%;
        margin-left: 8px;
    }
}